# Папки
Lib/
Scripts/
share/
.vscode/

# Файлы
pyvenv.cfg
.idea/
*.iml
*.pyc
*.pyo
__pycache__/
.env

.docker-compose.yml

# Виртуальное окружение
venv/

# Статические и медиа файлы
/static/
/media/


# Базы данных
*.sqlite3
*.db


# Миграции
# migrations/
docker-compose.yml

.gitignore
error.log